<!DOCTYPE html>
<html>
<head>
<meta name="description" content="single-column" />
  <meta charset="utf-8">
  <title>单栏布局</title>
  <style>
    * {
      margin: 0;
    }
    header {
      border: 1px solid;
      width: 800px;
      margin: 0 auto;
      padding: 10px 0;
      text-align: center;
    }
    header>.ct>a {
      display: block;
      float: left;
      border: 1px solid red;
    }
    .ct {
      display: inline-block;
    }
  </style>
</head>
<body>
  <header>
    <div class="ct">
      <a href="">登陆</a>
    <a href="">注册</a>
    </div>
  </header>
</body>
</html>