<!DOCTYPE html>
<html>
<head>
<meta name="description" content="three-columns" />
  <meta charset="utf-8">
  <title>三栏布局</title>
</head>
  <style>
    * {
      margin: 0;
    }
    .wrapper {
      border: 1px solid;
    }
    aside {
      background: #ccc;
      width: 200px;
      height: 300px;
      float: left;
    }
    .adv {
      background: #777;
      width: 200px;
      height: 300px;
      float: right;
    }
    main {
      background: #66f;
      height: 500px;
      margin: 0 210px;
    }
  </style>
<body>
  <div class="wrapper">
    <aside>aside</aside>
    <div class="adv">adv</div>
    <main>main</main>
  </div>
</body>
</html>