<!DOCTYPE html>
<html>
<head>
<meta name="description" content="two-columns" />
  <meta charset="utf-8">
  <title>两栏布局</title>
</head>
  <style>
    * {
      margin: 0;
    }
    .wrapper {
      border: 1px solid;
    }
    aside {
      width: 200px;
      background: #ccc;
      height: 300px;
      float: left;
    }
    main {
      min-width: 300px;
      height: 500px;
      background: #66f;
      margin-left: 210px;
    }
  </style>
<body>
  <div class="wrapper">
    <aside>aside</aside>
    <main>main</main>
  </div>
</body>
</html>